extends layout

block content
  div.container
    h1 404 not found
    div.card
      div.card-content
        span.card-title.black-text= url
        p  Despite our servers looking very hard, we couldn't find the URL you requested
